<div id="<%= dom_id job %>">

  <div class="card" style="width: 18rem; margin: 40px">
  <div class="card-body">
    <p class="card-text">
    <strong>Company:</strong>
    <%= job.company %>
  </p>

  <p class="card-text">
    <strong>Job title:</strong>
    <%= job.job_title %>
  </p>

  <p class="card-text">
    <strong>Location:</strong>
    <%= job.location %>
  </p>

  <p class="card-text">
    <strong>Description:</strong>
    <%= job.description %>
  </p>
  </div>
</div>

</div>
