<p style="color: green"><%= notice %></p>

<h1 style="text-align: center">Jobs List</h1>

<div id="jobs" style="margin: 40px">
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Company</th>
        <th>Job Title</th>
        <th>Location</th>
        <th>Description</th>
        <th> </th>
      </tr>
    </thead>

  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td><%= job.company %></td>  
      <td><%= job.job_title %></td>
      <td><%= job.location %></td>
      <td><%= job.description %></td>
      <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" %><%= link_to "Show this job", job, class: "btn btn-outline-secondary btn-sm" %></td>     
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New job", new_job_path, class:"btn btn-secondary" %>
</div>

